<h1>Novi projekt</h1>

<form action="/projects" method="POST">
    <input name="naziv" placeholder="Naziv"><br>
    <textarea name="opis" placeholder="Opis"></textarea><br>
    <input name="cijena" placeholder="Cijena"><br>
    <input name="obavljeniPoslovi" placeholder="Obavljeni poslovi"><br>
    <input name="datumPocetka" type="date"><br>
    <input name="datumZavrsetka" type="date"><br>
    <button type="submit">Spremi</button>
</form>
