<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<h2>Project Management</h2>

<ul>
  <li><a href="/projects">View all projects</a></li>
  <li><a href="/projects/new">Add new project</a></li>
</ul>
